.rvdx-mobile-panel{
	display: block;
	position: fixed;
	width: 100vw;
	left: 0px;
	bottom: 0px;
	box-shadow: $box__shadow;
	z-index: 999;

	@include media-breakpoint-up(md) {
		display: none;
	}

	&__inner {
		padding: 0 10px;

		@include media-breakpoint-down(xs) {
			display: block;
			text-align: center;
		}
	}

	&__controls {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}

	&__control {
		position: relative;
		height: 52px;
		width: 52px;
		margin: 5px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		border-radius: $border__radius;
		background-color: $color__light;
		cursor: pointer;
		&:after{
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: linear-gradient(to right, #822ea8 0%, #d90e90 100%);
			background-repeat: repeat-x;
			transition: .3s ease-out all;
			opacity: 0;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-top: solid rgba(255, 255, 255, 0.08);
			border-top-width: 74px;
			border-left: solid transparent;
			border-left-width: 212px;
			pointer-events: none;
			transform: scale(0.3);
			transform-origin: right top;
			opacity: 0;
			transition: .3s ease-out all;
			border-top-width: 52px;
			border-left-width: 52px;
		}
		&--sidebar{
			display: none;
		}
		i {
			font-size: 22px;
			color: #15162b;
			position: relative;
			z-index: 1;
			transition: .3s ease-out all;
		}

		span {
			font-size: 18px;
			color: #15162b;
			margin-left: 7px;
			position: relative;
			z-index: 1;
			transition: .3s ease-out all;
			@media (max-width: 480px) {
				display: none;
			}
		}

		&.active {
			&:after{
				opacity: 1;
				z-index: 0;
			}
			&:before{
				opacity: 1;
				transform: scale(1);
				z-index: 1;
			}
			i {
				color: $color__white;
			}

			span {
				color: $color__white;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&--woo-card {
			.woo-card-count {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				color: white;
				font-size: 10px;
				top: -10px;
				right: -10px;
			}
		}
	}
}
